
.ac-top-left {
    float: left;
    width: 185px;
    position: relative;
    z-index: 9;
}
.ac-top-tit{
    width: 185px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    font-size: 16px;
    background: #65c178;
    color: #fff;
    position: relative;
    cursor: pointer;
}
.ac-top-left:hover .ac-top-tit  b{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.ac-top-tit b {
    background: url(../images/images/menu-arrows.png) no-repeat;
    display: block;
    width: 15px;
    height: 7px;
    position: absolute;
    left: 144px;
    top: 17px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all .3s cubic-bezier(0.86,0,0.07,1);
    -moz-transition: all .3s cubic-bezier(0.86,0,0.07,1);
    transition: all .3s cubic-bezier(0.86,0,0.07,1);
}
.ac-top-left:hover .menu-left {
    display: block;
}
.ac-top-right {
    float: left;
    margin-left: 10px;
}
.input-time {
    height: 20px;
    line-height: 20px;
    float: left;
    position: relative;
}

.input-time-boot {
    text-indent: 5px;
    height: 20px;
    width: 137px;
    line-height: 20px;
    color: #999999;
    background: url(../images/images/time.jpg) 115px 3px no-repeat;
    border: 1px solid #ccc;
}
.choice-list span {
    width: 33px;
    display: inline-block;
    text-align: center;
    float: left;
    line-height: 24px;
}
.menu-left {
    float: left;
    width: 177px;
    border: 4px solid #65c178;
    border-top: none;
    display: none;
    position: absolute;
    background: #fff;
    overflow:hidden;
    height: 0;
    -webkit-transition: height .3s cubic-bezier(0.86,0,0.07,1);
    -moz-transition: height .3s cubic-bezier(0.86,0,0.07,1);
    transition: height .3s cubic-bezier(0.86,0,0.07,1);
}
.menu-left ul li a {
    display: block;
    height: 29px;
    line-height: 29px;
    text-indent: 20px;
    font-size: 14px;
    margin: 10px 0;
}
.menu-left ul li a:hover {
    background: #535353;
    color: #fff;
    text-decoration: none;
    text-indent: 30px;
}

.menu-center-title ul li {
    float: left;
}
.menu-center-title ul li a {
    font-size: 16px;
    display: block;
    line-height: 36px;
    position: relative;
    text-align: center;
    font-weight: bold;
}
.menu-center-title ul li a:hover {
    text-decoration: none;
}
.menu-center-title ul li a b {
    display: block;
    background: url(../images/images/arrows-bottom.png) no-repeat;
    width: 9px;
    height: 5px;
    position: absolute;
    left: 63px;
    top: 17px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all .3s cubic-bezier(0.86,0,0.07,1);
    -moz-transition: all .3s cubic-bezier(0.86,0,0.07,1);
    transition: all .3s cubic-bezier(0.86,0,0.07,1);
}
.menu-center-title ul li a:hover b{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.ac-top-comment  {
    width: 162px;
    float: right;
    margin-top: 7px;
}
.ac-top-comment a {
    display: block;
    padding: 2px 5px;
    background: #65c178;
    float: left;
    color: #fff;
}
.ac-top-comment a.remark {
    background: #ff9c0e;
    margin-right: 10px;
}
.app-left {
    float: left;
    width: 965px;
    position: relative;
}
.app-fixed-box {
    position: fixed;
    width: 90px;
}
.app-list {
    background: #fff;
    padding: 27px 0 25px 0 ;
}
.app-list li {
    float: left;
}
.app-list li p {
    text-align: center;
}
.app-list li p img {
    width: 67px;
    height: 59px;
}
.app-list li span {
    display: block;
    margin: 67px  15px 0 15px;
    width: 6px;
    height: 1px;
    background: #4f5f6f;
}
.app-one {
    background: #fff;
    margin-bottom: 10px;
    padding: 20px 20px 10px 20px;
}
.app {
    width: 100%;
}
.border-dashed {
    width: 100%;
    height: 1px;
    overflow: hidden;
    background: url(../images/images/dian.png) repeat-x;
    border:none;
}
.app-tit {
    line-height: 58px;
    font-size: 16px;
}
.list-box  {
    width: 100%;
}
.list-box li {
    float: left;
    width: 50%;
    height: 16px;
    line-height: 16px;
    margin-bottom: 10px;
}
.list-box img {
    width: 16px;
    height: 13px;
    float: left;
    margin: 2px 0 0 0;
}
.list-box p {
    float: left;
    line-height: 16px;
    margin: 0 0 0 5px;
}
.footer-box {
    width: 100%;
    background: #fff;
    margin: 0;
}
.app-fixed {
    position: absolute;
    left: -90px;
}
.app-fixed a.active {
    background: #65c178;
}
.app-fixed a {
    display: block;
    width: 40px;
    text-align: center;
    background: #4f5f6f;
    padding: 5px 0;
    margin-bottom: 1px;
    color: #fff;
}
.app-fixed a:hover{
    background: #65c178;
    text-decoration: none;
}
  .app-right {
    float: right;
    width: 214px;
  }
  .app-why-box {
    background: #fff;
    padding-bottom: 11px;
  }
  .app-why-tit p {
    float: left;
    line-height: 25px;
    font-size: 16px;
  }
  .app-why-tit a {
    display: block;
    float: right;
    line-height: 25px;
  }
  .app-why-box ul {
    overflow: hidden;
  }
  .app-why-box ul li {
    padding: 8px 10px 8px 10px;
    margin-top: -1px;
    background: url(../images/images/dian.png) repeat-x;
  }
  .app-why-box ul li p b {
    font-size: 14px;
    font-weight: bold;
    color: #4f5f6f;
  }
  .app-why-box ul li p a {
    display: block;
    margin-top: 5px;
  }
  .app-why-tit {
    padding: 13px 10px 0px 10px;
  }
.ac-comment {
    background: #fff;
    padding: 0 10px 10px 10px;
    margin: 10px 0;
}
.ac-comment-tit {
    height: 50px;
}
.comment-tit-left {
    float: left;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
}
.comment-tit-right {
     float: right;
     width: 55px;
     margin-top: 10px;
}
.comment-tit-right span {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #d0d0d0;
    float: left;
    margin: 5px 0 0 5px;
    cursor: pointer;
}
.comment-top {
    background: url(../images/images/arrows-top.png) 6px 7px no-repeat;
}
.comment-tit-right span.comment-down {
    padding: 1px;
    border:none;
    background: #65c178 url(../images/images/arrows-down.png) 6px 9px no-repeat;
}
#list-top {
    position: relative;
    height: 160px;
    width: 100%;
    overflow: hidden;
  }
  #list-top ul {
    position: absolute;
  }
  #list-top ul li {
    width: 100%;
    height: 160px;
    line-height: 19px;
  }
  .list-top-box {
    border: 1px solid #e0e1e2;
    border-left: none;
    border-right: none;
    height: 160px;
    width: 100%;
    margin: 10px 0;
  }
 .list-right {
    text-align: right;
    margin-top: 10px;
 }
 .list-right span {
    color:  #65c178;
 }
#list-top p a {
    color: #65c178;
}
.list-cent {
    margin-top: 10px;
    line-height: 20px
}
.state-center {
    line-height: 20px;
    height: 135px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.state-center ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.state-center ul li {
    height: 135px;
}
.trans {
    background: #fff;
    padding: 0 10px;
    margin-top: 10px;
}
.trans-one span {
    display: block;
    float: left;
}
.trans-one  b {
    font-weight: normal;
    float: left;
    margin-left: 10px;
}
.trans-one  u {
    float: right;
    text-decoration: none;
}
.trans-two span {
    float: left;
    color: #65c178;
}
.trans-two b {
    float: right;
    color: #65c178;
    font-weight: normal;
}
.state-list li p span {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}
.state-list li p {
    width: 946px;
}
.state-list li p img {
    border-radius: 8px;
    margin: 0 9px 6px 0;
    transition: All .5s ease-in-out;
    -webkit-transition: All .3s ease-in-out;
    -moz-transition: All .3s ease-in-out;
    -o-transition: All .3s ease-in-out;
}
.state-list li p img:hover {
     transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
.state-list {
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
}